{% extends "base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block contents %}
{% include "snippets/navbar.html" %}

  <div class="row">
    {% for artikel in latest_artikel_list %}
    <div class="col-sm-4">
        	<div class="card">
            <div class="card-body">
              <h5 class="card-title" ><a href="{% url 'blog:category' artikel.kategori 1 %}">{{artikel.kategori}}</a></h5>
              <h6 class="card-subtitle mb-2 text-dark">{{artikel.judul}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{artikel.published|date}}</h6>
              <p class="card-text">{{artikel.isi|truncatewords:10}}</p>
              <a href="{% url 'blog:detail' artikel.slug %}" class="card-link">Selengkapnya</a>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}